services:
  xash3d:
    image: yohimik/cs-web-server:latest
    build:
      context: ../../
      dockerfile: ./docker/cs-web-server/Dockerfile
      tags:
        - yohimik/cs-web-server:latest
        - yohimik/cs-web-server:${TAG}
    restart: always
    platform: linux/386
    user: "0:0"
    environment:
      PORT: 27018
      IP: 192.168.50.123
    volumes:
      - "./valve:/xashds/public/assets/assets"
      - "./manifest.json:/xashds/public/manifest.json"
    ports:
      - "27016:27016"
      - "27018:27018"
      - "27018:27018/udp"
